.profile-wrp {
  display: grid;
  /* grid-template-areas: 
    "user-profile"
    "all-profiles"; */
  grid-template-rows: 28vw 1fr; 
  row-gap: 10px;
}

.profile-page-wrp {
  display: grid;
  grid-template-areas: 
    "avatar"
    "user-item";
  grid-template-columns: 20vw 1fr; 
  column-gap: 10px;
}

.profile-avatar-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 0 1vw;
  background: #eaebec;

} 

.user-avatar {
  max-width: 80%;
  height: auto;
}

.avatar-item {
  margin: 1.5vw 0 1.5vw;
  font-size: 2vw;
}

.profile-item-wrp {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  padding: 1vw 0 1vw;
}

.user-items-header{
  display: flex;
  justify-content: center
}

.user-items {
  display: flex;
  /* background: #ffffff; */
  display: block;
  margin: 0 5vw 0 5vw;
}

.user-data {
  display: grid;
  grid-template-areas: 
    "item"
    "info";
  grid-template-columns: 1fr 1fr; 
  column-gap: 10px;

  padding: 1.5vw 0 1.5vw;
  border-bottom: solid 1px #b6b8b9;
  /* font-size: 1.5vw; */
}

.user-data p span {
  font-size: 1.5vw;
  display: inline;
}

.all-profile-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
}

.users-search-input {
  width: 200px;
}

.ant-input-group-wrapper {
  margin: 24px 0 24px;
}