.trans-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  width: 350px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #dddddd;
}

.trans-form-redir {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  margin-top: 16px;
  width: 220px;
}

.form-btn-wrp {
  display: flex;
  justify-content: space-between;
  /* margin: 24px; */
}

/* .transaction-form {
  display: flex;
  flex-direction: column;
} */