.all-profile-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw 0 2vw;
  padding: 2vw 0 2vw;
  width: 75%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #dddddd;
}

.users-search-input {
  width: 200px;
}

.ant-input-group-wrapper {
  margin: 24px 0 24px;
}

.ant-list {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  width: 80%;
}

.ant-list-vertical .ant-list-item-meta {
  margin-bottom: 0;
}

.ant-list-pagination .ant-pagination-options {
  display: none;
}